<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>&lt;em&gt;Build a new Eucalyptus Cloud from Packages.&lt;/em&gt;</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>hostname</name>
          <description>IP address or hostname of machine you would like to install on.</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.TextParameterDefinition>
          <name>environment</name>
          <description>Configuration of the Eucalyptus deployment.

Required fields:
public-ips

Full list of attributes can be found here:
https://github.com/viglesiasce/eucalyptus-cookbook/blob/master/attributes/default.rb</description>
          <defaultValue>{
  &quot;name&quot;: &quot;edge-nightly&quot;,
  &quot;description&quot;: &quot;4.0 Nightlies EDGE Testing&quot;,
  &quot;json_class&quot;: &quot;Chef::Environment&quot;,
  &quot;chef_type&quot;: &quot;environment&quot;,
  &quot;default_attributes&quot;: {
    &quot;eucalyptus&quot;: {
      &quot;network&quot;: { &quot;public-ips&quot;: &quot;10.0.5.100-10.0.5.200&quot;},
      &quot;eucalyptus-repo&quot;: &quot;http://downloads.eucalyptus.com/software/eucalyptus/nightly/4.0/centos/6/x86_64/&quot;,
      &quot;euca2ools-repo&quot;: &quot;http://downloads.eucalyptus.com/software/euca2ools/nightly/3.1/centos/6/x86_64/&quot;
    }
  }
}
</defaultValue>
        </hudson.model.TextParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <hudson.plugins.throttleconcurrents.ThrottleJobProperty plugin="throttle-concurrents@1.7.2">
      <maxConcurrentPerNode>0</maxConcurrentPerNode>
      <maxConcurrentTotal>0</maxConcurrentTotal>
      <categories/>
      <throttleEnabled>false</throttleEnabled>
      <throttleOption>project</throttleOption>
      <configVersion>1</configVersion>
    </hudson.plugins.throttleconcurrents.ThrottleJobProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>true</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash

cat &gt; environment.json &lt;&lt;EOF
$environment
EOF
cat &gt; bootstrap.json &lt;&lt;EOF
{
  &quot;nodes&quot;: [
    {
      &quot;groups&quot;: [&quot;cloud::full&quot;,&quot;node::default&quot;],
      &quot;hosts&quot;: [&quot;$hostname&quot;]
    }
  ]
}
EOF</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>#!/usr/bin/python
import json
import os
json_file = open(&quot;environment.json&quot;)
environment = json.loads(json_file.read())
json_file.close()
if &quot;network&quot; not in environment[&quot;default_attributes&quot;][&quot;eucalyptus&quot;]:
    environment[&quot;default_attributes&quot;][&quot;eucalyptus&quot;][&quot;network&quot;] = {}
environment[&quot;default_attributes&quot;][&quot;eucalyptus&quot;][&quot;network&quot;][&quot;public-interface&quot;] = &quot;br0&quot;
environment[&quot;default_attributes&quot;][&quot;eucalyptus&quot;][&quot;network&quot;][&quot;private-interface&quot;] = &quot;br0&quot;

environment[&quot;default_attributes&quot;][&quot;eucalyptus&quot;][&quot;topology&quot;] = { &quot;clc-1&quot;: os.environ[&apos;hostname&apos;], 
                                     &quot;walrus&quot;: os.environ[&apos;hostname&apos;], 
                                     &quot;user-facing&quot;: [os.environ[&apos;hostname&apos;]], 
                                     &quot;clusters&quot;: {&quot;default&quot;: { &quot;cc-1&quot;: os.environ[&apos;hostname&apos;], 
                                                              &quot;sc-1&quot;: os.environ[&apos;hostname&apos;], 
                                                              &quot;nodes&quot;: os.environ[&apos;hostname&apos;], 
                                                              &quot;storage-backend&quot;: &quot;overlay&quot; }}}


json_file = open(&quot;environment.json&quot;, &apos;w&apos;)
json_file.write(json.dumps(environment))

env_name = open(&quot;environment-name&quot;, &apos;w&apos;)
env_name.write(environment[&quot;name&quot;])</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>#!/bin/bash
source /usr/local/rvm/scripts/rvm
mb environment from environment.json
mb eucalyptus bootstrap bootstrap.json -v -e `cat environment-name` -c /root/.mb/config.json</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers>
    <hudson.plugins.ws__cleanup.PreBuildCleanup plugin="ws-cleanup@0.16">
      <deleteDirs>false</deleteDirs>
      <cleanupParameter></cleanupParameter>
    </hudson.plugins.ws__cleanup.PreBuildCleanup>
  </buildWrappers>
</project>