<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>&lt;table id=&quot;suiteTable&quot; cellpadding=&quot;1&quot; cellspacing=&quot;1&quot; border=&quot;1&quot; class=&quot;selenium&quot;&gt;&lt;tbody&gt;&#xd;
&lt;tr&gt;&lt;td&gt;&lt;b&gt;Test Suite&lt;/b&gt;&lt;/td&gt;&lt;/tr&gt;&#xd;
&lt;tr&gt;&lt;td&gt;&lt;a &quot;tests/koala_login.html&quot;&gt;koala_login&lt;/a&gt;&lt;/td&gt;&lt;/tr&gt;&#xd;
&lt;tr&gt;&lt;td&gt;&lt;a &quot;tests/StoreAndSet/store-availability-zones.html&quot;&gt;store-availability-zones&lt;/a&gt;&lt;/td&gt;&lt;/tr&gt;&#xd;
&lt;tr&gt;&lt;td&gt;&lt;a &quot;tests/StoreAndSet/set-availability-zone-to-first-on-list.html&quot;&gt;set-availability-zone-to-first-on-list&lt;/a&gt;&lt;/td&gt;&lt;/tr&gt;&#xd;
&lt;tr&gt;&lt;td&gt;&lt;a &quot;tests/StoreAndSet/set-tag-data-short.html&quot;&gt;set-tag-data-short&lt;/a&gt;&lt;/td&gt;&lt;/tr&gt;&#xd;
&lt;tr&gt;&lt;td&gt;&lt;a &quot;tests/StoreAndSet/Instances/set-instance-type-to-m1-medium.html&quot;&gt;set-instance-type-to-m1-medium&lt;/a&gt;&lt;/td&gt;&lt;/tr&gt;&#xd;
&lt;tr&gt;&lt;td&gt;&lt;a &quot;tests/StoreAndSet/Keypairs/set-keypair-name-to-key-and-5randomchars.html&quot;&gt;set-keypair-name-to-key-and-5randomchars&lt;/a&gt;&lt;/td&gt;&lt;/tr&gt;&#xd;
&lt;tr&gt;&lt;td&gt;&lt;a &quot;tests/StoreAndSet/SecurityGroups/set-s-group-name-to-group-and-5randomchars.html&quot;&gt;set-s-group-name-to-group-and-5randomchars&lt;/a&gt;&lt;/td&gt;&lt;/tr&gt;&#xd;
&lt;tr&gt;&lt;td&gt;&lt;a &quot;tests/StoreAndSet/Instances/set-instance-name-to-instance-and-5randomchars.html&quot;&gt;set-instance-name-to-instance-and-5randomchars&lt;/a&gt;&lt;/td&gt;&lt;/tr&gt;&#xd;
&lt;tr&gt;&lt;td&gt;&lt;a &quot;tests/Instances/launch-instance-from-dashboard-create-s-group-and-key-from-launch-wz.html&quot;&gt;launch-instance-from-dashboard-create-s-group-and-key-from-launch-wz&lt;/a&gt;&lt;/td&gt;&lt;/tr&gt;&#xd;
&lt;tr&gt;&lt;td&gt;&lt;a &quot;tests/Instances/verify-instance-is-running.html&quot;&gt;verify-instance-is-running&lt;/a&gt;&lt;/td&gt;&lt;/tr&gt;&#xd;
&lt;tr&gt;&lt;td&gt;&lt;a &quot;tests/ElasticIPs/allocate-ip-address-from-lp.html&quot;&gt;allocate-ip-address-from-lp&lt;/a&gt;&lt;/td&gt;&lt;/tr&gt;&#xd;
&lt;tr&gt;&lt;td&gt;&lt;a &quot;tests/ElasticIPs/associate-ip-to-instance-on-instances-lp.html&quot;&gt;associate-ip-to-instance-on-instances-lp&lt;/a&gt;&lt;/td&gt;&lt;/tr&gt;&#xd;
&lt;tr&gt;&lt;td&gt;&lt;a &quot;tests/ElasticIPs/disassociate-ip-from-instance-on-instances-lp.html&quot;&gt;disassociate-ip-from-instance-on-instances-lp&lt;/a&gt;&lt;/td&gt;&lt;/tr&gt;&#xd;
&lt;tr&gt;&lt;td&gt;&lt;a &quot;tests/ElasticIPs/associate-ip-to-instance-on-ip-lp.html&quot;&gt;associate-ip-to-instance-on-ip-lp&lt;/a&gt;&lt;/td&gt;&lt;/tr&gt;&#xd;
&lt;tr&gt;&lt;td&gt;&lt;a &quot;tests/ElasticIPs/disassociate-ip-from-instance-on-ip-lp.html&quot;&gt;disassociate-ip-from-instance-on-ip-lp&lt;/a&gt;&lt;/td&gt;&lt;/tr&gt;&#xd;
&lt;tr&gt;&lt;td&gt;&lt;a &quot;tests/ElasticIPs/release-ip-on-ip-lp.html&quot;&gt;release-ip-on-ip-lp&lt;/a&gt;&lt;/td&gt;&lt;/tr&gt;&#xd;
&lt;tr&gt;&lt;td&gt;&lt;a &quot;tests/ElasticIPs/allocate-ip-address-from-dboard.html&quot;&gt;allocate-ip-address-from-dboard&lt;/a&gt;&lt;/td&gt;&lt;/tr&gt;&#xd;
&lt;tr&gt;&lt;td&gt;&lt;a &quot;tests/ElasticIPs/associate-ip-to-instance-on-detail-page.html&quot;&gt;associate-ip-to-instance-on-detail-page&lt;/a&gt;&lt;/td&gt;&lt;/tr&gt;&#xd;
&lt;tr&gt;&lt;td&gt;&lt;a &quot;tests/ElasticIPs/disassociate-ip-from-instance-on-inst-detail-page.html&quot;&gt;disassociate-ip-from-instance-on-inst-detail-page&lt;/a&gt;&lt;/td&gt;&lt;/tr&gt;&#xd;
&lt;tr&gt;&lt;td&gt;&lt;a &quot;tests/ElasticIPs/associate-ip-to-instance-on-ip-detail-page.html&quot;&gt;associate-ip-to-instance-on-ip-detail-page&lt;/a&gt;&lt;/td&gt;&lt;/tr&gt;&#xd;
&lt;tr&gt;&lt;td&gt;&lt;a &quot;tests/ElasticIPs/disassociate-ip-from-instance-on-ip-detail-page.html&quot;&gt;disassociate-ip-from-instance-on-ip-detail-page&lt;/a&gt;&lt;/td&gt;&lt;/tr&gt;&#xd;
&lt;tr&gt;&lt;td&gt;&lt;a &quot;tests/ElasticIPs/release-ip-on-ip-detail-page.html&quot;&gt;release-ip-on-ip-detail-page&lt;/a&gt;&lt;/td&gt;&lt;/tr&gt;&#xd;
&lt;tr&gt;&lt;td&gt;&lt;a &quot;tests/Instances/terminate-instance-from-lp.html&quot;&gt;terminate-instance-from-lp&lt;/a&gt;&lt;/td&gt;&lt;/tr&gt;&#xd;
&lt;tr&gt;&lt;td&gt;&lt;a &quot;tests/Instances/verify-instance-is-terminated.html&quot;&gt;verify-instance-is-terminated&lt;/a&gt;&lt;/td&gt;&lt;/tr&gt;&#xd;
&lt;tr&gt;&lt;td&gt;&lt;a &quot;tests/Keypairs/delete-key-pair-from-detail-page.html&quot;&gt;delete-key-pair-from-detail-page&lt;/a&gt;&lt;/td&gt;&lt;/tr&gt;&#xd;
&lt;tr&gt;&lt;td&gt;&lt;a &quot;tests/Keypairs/verify-key-pair-was-deleted.html&quot;&gt;verify-key-pair-was-deleted&lt;/a&gt;&lt;/td&gt;&lt;/tr&gt;&#xd;
&lt;tr&gt;&lt;td&gt;&lt;a &quot;tests/SecurityGroups/delete-s-group-from-landing-page.html&quot;&gt;delete-s-group-from-landing-page&lt;/a&gt;&lt;/td&gt;&lt;/tr&gt;&#xd;
&lt;tr&gt;&lt;td&gt;&lt;a &quot;tests/SecurityGroups/verify-s-group-not-present-on-lp.html&quot;&gt;verify-s-group-not-present-on-lp&lt;/a&gt;&lt;/td&gt;&lt;/tr&gt;&#xd;
&lt;tr&gt;&lt;td&gt;&lt;a &quot;tests/koala_logout.html&quot;&gt;koala_logout&lt;/a&gt;&lt;/td&gt;&lt;/tr&gt;&#xd;
&lt;/tbody&gt;&lt;/table&gt;</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>console_url</name>
          <description>URL eucalyptus console</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>browser_type</name>
          <description>Browser type for the test: can be firefox or iexplorer</description>
          <defaultValue>*firefox </defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>repo_url</name>
          <description>Github repo URL of test suite.</description>
          <defaultValue>https://github.com/eucalyptus/eucaconsole</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>branch</name>
          <description></description>
          <defaultValue>develop</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>dir</name>
          <description>Directory of the cloned test suite.


</description>
          <defaultValue>selenium/IP_OPERATIONS.html</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>account</name>
          <description>Eucalyptus account</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>user_name</name>
          <description>Eucalyptus user</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>password</name>
          <description>Eucalyptus user password</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>port</name>
          <description></description>
          <defaultValue>4444</defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <hudson.plugins.throttleconcurrents.ThrottleJobProperty plugin="throttle-concurrents@1.7.2">
      <maxConcurrentPerNode>0</maxConcurrentPerNode>
      <maxConcurrentTotal>0</maxConcurrentTotal>
      <throttleEnabled>false</throttleEnabled>
      <throttleOption>project</throttleOption>
    </hudson.plugins.throttleconcurrents.ThrottleJobProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>git clone $repo_url
cd eucaconsole/tests
git checkout $branch

#Xvfb :0 -ac 2&gt; /dev/null &amp;

sed -i &quot;s/ui-test-acct-00/$account/g&quot; selenium/tests/koala_log*
sed -i &quot;s/admin/$user_name/g&quot; selenium/tests/koala_log*
sed -i &quot;s/mypassword0/$password/g&quot; selenium/tests/koala_login.html


export DISPLAY=:0 &amp;&amp; java -jar /selenium-2.39.0/selenium-server-standalone-2.39.0.jar  -Dorg.openqa.jetty.SocketListener.bufferSize=20480 -userExtensions &quot;selenium/Selenium_RC_Plugins/user-extensions.js&quot; -htmlSuite *firefox &quot;$console_url&quot; &quot;$dir&quot; &quot;ip-operations.html&quot; -trustAllSSLCertificates  -timeout 3600 -debug -port $port
 </command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>eucaconsole/tests/ip-operations.html</artifacts>
      <latestOnly>false</latestOnly>
      <allowEmptyArchive>false</allowEmptyArchive>
      <onlyIfSuccessful>false</onlyIfSuccessful>
      <defaultExcludes>true</defaultExcludes>
    </hudson.tasks.ArtifactArchiver>
  </publishers>
  <buildWrappers>
    <hudson.plugins.ws__cleanup.PreBuildCleanup plugin="ws-cleanup@0.16">
      <deleteDirs>false</deleteDirs>
      <cleanupParameter></cleanupParameter>
    </hudson.plugins.ws__cleanup.PreBuildCleanup>
  </buildWrappers>
</project>