<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>&lt;em&gt;Build a new Eucalyptus Cloud from Source.&lt;/em&gt;</description>
  <logRotator class="hudson.tasks.LogRotator">
    <daysToKeep>-1</daysToKeep>
    <numToKeep>5</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.FileParameterDefinition>
          <name>cloud_config.yml</name>
          <description>&lt;h1&gt;Configuration Options for the Cloud&lt;/h1&gt;
&lt;p&gt;This is a YAML formatted file that contains options necessary for building a Eucalyptus Cloud.
&lt;p&gt;View an example configuration file &lt;a href=&quot;https://github.com/mspaulding06/cloud-playbook/blob/master/examples/cloud_config.yml&quot;&gt;here&lt;/a&gt;</description>
        </hudson.model.FileParameterDefinition>
        <hudson.model.FileParameterDefinition>
          <name>cloud_hosts</name>
          <description>&lt;h1&gt;Hosts Inventory for the Cloud&lt;/h1&gt;
&lt;p&gt;This is a standard &lt;a href=&quot;http://www.ansibleworks.com/docs/patterns.html&quot;&gt;Ansible Hosts Inventory&lt;/a&gt; file.
&lt;p&gt; View an example cloud hosts inventory &lt;a href=&quot;https://github.com/mspaulding06/cloud-playbook/blob/master/examples/cloud_hosts&quot;&gt;here&lt;/a&gt;
&lt;p&gt;It should contain the following groups based on the Eucalyptus components to be installed:
&lt;ul&gt;
&lt;li&gt;cloud_controller&lt;/li&gt;
&lt;li&gt;cluster_contorller&lt;/li&gt;
&lt;li&gt;walrus&lt;/li&gt;
&lt;li&gt;storage_controller&lt;/li&gt;
&lt;li&gt;node_controller&lt;/li&gt;
&lt;/ul&gt;
</description>
        </hudson.model.FileParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@1.5.0">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <name></name>
        <refspec></refspec>
        <url>git://github.com/mspaulding06/cloud-playbook.git</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>**</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <disableSubmodules>false</disableSubmodules>
    <recursiveSubmodules>false</recursiveSubmodules>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <authorOrCommitter>false</authorOrCommitter>
    <clean>false</clean>
    <wipeOutWorkspace>false</wipeOutWorkspace>
    <pruneBranches>false</pruneBranches>
    <remotePoll>false</remotePoll>
    <ignoreNotifyCommit>false</ignoreNotifyCommit>
    <useShallowClone>false</useShallowClone>
    <buildChooser class="hudson.plugins.git.util.DefaultBuildChooser"/>
    <gitTool>Default</gitTool>
    <submoduleCfg class="list"/>
    <relativeTargetDir></relativeTargetDir>
    <reference></reference>
    <excludedRegions></excludedRegions>
    <excludedUsers></excludedUsers>
    <gitConfigName></gitConfigName>
    <gitConfigEmail></gitConfigEmail>
    <skipTag>false</skipTag>
    <includedRegions></includedRegions>
    <scmName></scmName>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash

set -x

git clone https://github.com/ansible/ansible.git
pushd ansible
. hacking/env-setup
popd

if [ -f /var/lib/jenkins/build-keys/buildkey ] ; then
    ansible-playbook -i cloud_hosts --private-key /var/lib/jenkins/build-keys/buildkey playbooks/source.yml
else
    ansible-playbook -i cloud_hosts playbooks/source.yml
fi
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>