<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>&lt;html&gt;&#xd;
	&lt;head&gt;&#xd;
		&lt;title&gt;&lt;/title&gt;&#xd;
	&lt;/head&gt;&#xd;
	&lt;body&gt;&#xd;
		&lt;div&gt;&#xd;
			&lt;div style=&quot;font-family: Verdana, Helvetica, &apos;sans serif&apos;; font-size: 11px; background-color: rgb(255, 255, 255);&quot;&gt;&#xd;
				&lt;font size=&quot;5&quot;&gt;Documentation&lt;/font&gt;&lt;/div&gt;&#xd;
			&lt;ul&gt;&#xd;
				&lt;li style=&quot;font-family: Verdana, Helvetica, &apos;sans serif&apos;; font-size: 11px; background-color: rgb(255, 255, 255);&quot;&gt;&#xd;
					&lt;font color=&quot;blue&quot; size=&quot;5&quot;&gt;&lt;span style=&quot;font-size:16px;&quot;&gt;&lt;a href=&quot;https://eucalyptus.atlassian.net/wiki/pages/viewpage.action?pageId=56983597&quot; style=&quot;color: rgb(92, 53, 102);&quot;&gt;Deployment overview&lt;/a&gt;&lt;/span&gt;&lt;/font&gt;&lt;/li&gt;&#xd;
				&lt;li style=&quot;font-family: Verdana, Helvetica, &apos;sans serif&apos;; font-size: 11px; background-color: rgb(255, 255, 255);&quot;&gt;&#xd;
					&lt;a href=&quot;https://eucalyptus.atlassian.net/wiki/display/QA/Eucalyptus+Configuration&quot; style=&quot;font-size: 16px; color: rgb(92, 53, 102);&quot;&gt;Configuring your environment&lt;/a&gt;&lt;/li&gt;&#xd;
				&lt;li style=&quot;font-family: Verdana, Helvetica, &apos;sans serif&apos;; font-size: 11px; background-color: rgb(255, 255, 255);&quot;&gt;&#xd;
					&lt;a href=&quot;https://eucalyptus.atlassian.net/wiki/display/QA/QA+System+Documentation+Table+of+Contents&quot; style=&quot;font-size: 16px; color: rgb(92, 53, 102);&quot;&gt;Further documentation&lt;/a&gt;&lt;/li&gt;&#xd;
			&lt;/ul&gt;&#xd;
		&lt;/div&gt;&#xd;
		&lt;p&gt;&#xd;
			&amp;nbsp;&lt;/p&gt;&#xd;
	&lt;/body&gt;&#xd;
&lt;/html&gt;&#xd;
</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.BooleanParameterDefinition>
          <name>nuke_before_deploy</name>
          <description></description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.TextParameterDefinition>
          <name>config</name>
          <description>&lt;font size=&quot;3&quot; color=&quot;blue&quot;&gt;
&lt;a href=&quot;https://github.com/eucalyptus/eucalyptus-cookbook/blob/testing/attributes/default.rb&quot;&gt;
  For possible attributes that can be set look here.&lt;/a&gt;
&lt;/font&gt;</description>
          <defaultValue>---
name: basic-config
description: Basic Deployment
default_attributes:
  eucalyptus:
    topology:
      clc-1: &lt;ENTER-MACHINE-IP&gt;
      walrus: &lt;ENTER-MACHINE-IP&gt;
      user-facing:
      - &lt;ENTER-MACHINE-IP&gt;
      clusters:
        one:
          cc-1: &lt;ENTER-MACHINE-IP&gt;
          sc-1: &lt;ENTER-MACHINE-IP&gt;
         ### Node Controller list looks like: 192.168.0.1 192.168.0.2 192.168.0.3
          nodes: &lt;ENTER-MACHINE-IPS-SPACE-SEPERATED-STRING&gt;
    network:
      public-ips: &lt;ENTER-PUBLIC-IPS-RANGE&gt;
      public-interface: br0
      private-interface: br0
      ### Name of bridge to create on NCs
      bridge-interface: br0
      ### This is the interface on the NCs to attach the bridge to
      bridged-nic: eth0</defaultValue>
        </hudson.model.TextParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.22">
      <autoRebuild>false</autoRebuild>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.plugins.throttleconcurrents.ThrottleJobProperty plugin="throttle-concurrents@1.8.4">
      <maxConcurrentPerNode>0</maxConcurrentPerNode>
      <maxConcurrentTotal>0</maxConcurrentTotal>
      <throttleEnabled>false</throttleEnabled>
      <throttleOption>project</throttleOption>
    </hudson.plugins.throttleconcurrents.ThrottleJobProperty>
    <hudson.plugins.disk__usage.DiskUsageProperty plugin="disk-usage@0.24"/>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@2.2.7">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://github.com/viglesiasce/euca-deploy.git</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>true</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash

cat &gt; config.yml &lt;&lt;EOF
$config
EOF

mkdir -p chef-repo
pushd chef-repo

if [ ! -d &quot;eucalyptus-cookbook&quot; ]; then
    git clone https://github.com/eucalyptus/eucalyptus-cookbook.git -b testing
fi
pushd eucalyptus-cookbook
berks vendor $WORKSPACE/chef-repo/cookbooks
popd

mkdir -p nodes
mkdir -p environments
popd

if $nuke_before_deploy; then
    uninstall = &apos;uninstall&apos;
fi

fab $uninstall install --parallel --pool-size 20 -p foobar --show=everything</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers>
    <hudson.plugins.ws__cleanup.PreBuildCleanup plugin="ws-cleanup@0.24">
      <deleteDirs>false</deleteDirs>
      <cleanupParameter></cleanupParameter>
      <externalDelete></externalDelete>
    </hudson.plugins.ws__cleanup.PreBuildCleanup>
  </buildWrappers>
</project>
