<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>&lt;strong&gt;Java based tests that are focused on 3.3 features:&lt;/strong&gt;&lt;br&gt;ELB&lt;br&gt;CloudWatch&lt;br&gt;AutoScaling</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>JAVA_HOME</name>
          <description></description>
          <defaultValue>/usr/lib/jvm/java-1.7.0-openjdk.x86_64/</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.TextParameterDefinition>
          <name>eucarc</name>
          <description></description>
          <defaultValue>EUCA_KEY_DIR=$(dirname $(readlink -f ${BASH_SOURCE}))
export EC2_URL=http://10.111.1.52:8773/services/Eucalyptus
export S3_URL=http://10.111.1.52:8773/services/Walrus
export EUARE_URL=http://10.111.1.52:8773/services/Euare
export TOKEN_URL=http://10.111.1.52:8773/services/Tokens
export AWS_AUTO_SCALING_URL=http://10.111.1.52:8773/services/AutoScaling
export AWS_CLOUDWATCH_URL=http://10.111.1.52:8773/services/CloudWatch
export EUSTORE_URL=http://emis.eucalyptus.com/
export EC2_PRIVATE_KEY=${EUCA_KEY_DIR}/euca2-admin-7d09dc1a-pk.pem
export EC2_CERT=${EUCA_KEY_DIR}/euca2-admin-7d09dc1a-cert.pem
export EC2_JVM_ARGS=-Djavax.net.ssl.trustStore=${EUCA_KEY_DIR}/jssecacerts
export EUCALYPTUS_CERT=${EUCA_KEY_DIR}/cloud-cert.pem
export EC2_ACCOUNT_NUMBER=&apos;575659681365&apos;
export EC2_ACCESS_KEY=&apos;NFAQCLEW9SMS6EBNKJ1QP&apos;
export EC2_SECRET_KEY=&apos;YT1xQgrkrbzP7mKlwnuC3D9L9ieccuJG3km0PzIk&apos;
export AWS_CREDENTIAL_FILE=${EUCA_KEY_DIR}/iamrc
export EC2_USER_ID=&apos;575659681365&apos;
alias ec2-bundle-image=&quot;ec2-bundle-image --cert ${EC2_CERT} --privatekey ${EC2_PRIVATE_KEY} --user ${EC2_ACCOUNT_NUMBER} --ec2cert ${EUCALYPTUS_CERT}&quot;
alias ec2-upload-bundle=&quot;ec2-upload-bundle -a ${EC2_ACCESS_KEY} -s ${EC2_SECRET_KEY} --url ${S3_URL}&quot;</defaultValue>
        </hudson.model.TextParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@1.2.0">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <name></name>
        <refspec></refspec>
        <url>git://github.com/eucalyptus/eutester.git</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>testing</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <disableSubmodules>false</disableSubmodules>
    <recursiveSubmodules>false</recursiveSubmodules>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <authorOrCommitter>false</authorOrCommitter>
    <clean>false</clean>
    <wipeOutWorkspace>false</wipeOutWorkspace>
    <pruneBranches>false</pruneBranches>
    <remotePoll>false</remotePoll>
    <ignoreNotifyCommit>false</ignoreNotifyCommit>
    <useShallowClone>false</useShallowClone>
    <buildChooser class="hudson.plugins.git.util.DefaultBuildChooser"/>
    <gitTool>Default</gitTool>
    <submoduleCfg class="list"/>
    <relativeTargetDir></relativeTargetDir>
    <reference></reference>
    <excludedRegions></excludedRegions>
    <excludedUsers></excludedUsers>
    <gitConfigName></gitConfigName>
    <gitConfigEmail></gitConfigEmail>
    <skipTag>false</skipTag>
    <includedRegions></includedRegions>
    <scmName></scmName>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>cat &gt; eutester4j/eucarc &lt;&lt;EOF
$eucarc
EOF

cd eutester4j
ant clean-build -Deucarc=eucarc</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.plugins.testng.Publisher plugin="testng-plugin@1.1">
      <reportFilenamePattern>eutester4j/eutester4j_results/*.xml</reportFilenamePattern>
      <escapeTestDescp>true</escapeTestDescp>
      <escapeExceptionMsg>true</escapeExceptionMsg>
    </hudson.plugins.testng.Publisher>
  </publishers>
  <buildWrappers/>
</project>