<?xml version='1.0' encoding='UTF-8'?>
<hudson>
  <disabledAdministrativeMonitors>
    <string>jenkins.security.RekeySecretAdminMonitor</string>
  </disabledAdministrativeMonitors>
  <version>1.531</version>
  <numExecutors>5</numExecutors>
  <mode>NORMAL</mode>
  <useSecurity>true</useSecurity>
  <authorizationStrategy class="hudson.security.AuthorizationStrategy$Unsecured"/>
  <securityRealm class="hudson.security.SecurityRealm$None"/>
  <disableRememberMe>false</disableRememberMe>
  <projectNamingStrategy class="jenkins.model.ProjectNamingStrategy$DefaultProjectNamingStrategy"/>
  <workspaceDir>${ITEM_ROOTDIR}/workspace</workspaceDir>
  <buildsDir>${ITEM_ROOTDIR}/builds</buildsDir>
  <markupFormatter class="hudson.markup.RawHtmlMarkupFormatter" plugin="antisamy-markup-formatter@1.1">
    <disableSyntaxHighlighting>false</disableSyntaxHighlighting>
  </markupFormatter>
  <jdks/>
  <viewsTabBar class="hudson.views.DefaultViewsTabBar"/>
  <myViewsTabBar class="hudson.views.DefaultMyViewsTabBar"/>
  <clouds/>
  <slaves/>
  <quietPeriod>5</quietPeriod>
  <scmCheckoutRetryCount>0</scmCheckoutRetryCount>
  <views>
    <hudson.model.AllView>
      <owner class="hudson" reference="../../.."/>
      <name>All</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
    </hudson.model.AllView>
    <hudson.plugins.view.dashboard.Dashboard plugin="dashboard-view@2.9.1">
      <owner class="hudson" reference="../../.."/>
      <name>Debugging</name>
      <description>&lt;html&gt;&#xd;
	&lt;head&gt;&#xd;
		&lt;title&gt;HTML Online Editor Sample&lt;/title&gt;&#xd;
	&lt;/head&gt;&#xd;
	&lt;body&gt;&#xd;
		&lt;h1&gt;&#xd;
			Welcome to Micro-QA v3.0.0&lt;/h1&gt;&#xd;
		&lt;p&gt;&#xd;
			This Jenkins server is intended to provide an easy way to get going with both Eutester and Eutester4j&lt;br&gt;&#xd;
                        in order to validate and debug their cloud installations.&#xd;
                &lt;/p&gt;&#xd;
          &lt;h2&gt; Running a Test &lt;/h2&gt;&#xd;
          &lt;p&gt;In order to run a test click the &quot;play&quot; button to the right of each job listed, then enter your cloud topology&lt;br&gt;&#xd;
             in the field provided as well as the root password for your cloud infrastructure machines.At the bottom of the&lt;br&gt;&#xd;
             page you should see a &quot;Build&quot; button which will kick off the test.&lt;/p&gt;&#xd;
	&lt;/body&gt;&#xd;
&lt;/html&gt;&#xd;
</description>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
        <string>Get Debug</string>
        <string>Run SOS Report</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <jenkins.plugins.extracolumns.DescriptionColumn plugin="extra-columns@1.11">
          <displayName>false</displayName>
          <trim>false</trim>
          <displayLength>1</displayLength>
        </jenkins.plugins.extracolumns.DescriptionColumn>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <recurse>false</recurse>
      <useCssStyle>false</useCssStyle>
      <includeStdJobList>true</includeStdJobList>
      <leftPortletWidth>50%</leftPortletWidth>
      <rightPortletWidth>50%</rightPortletWidth>
      <leftPortlets/>
      <rightPortlets/>
      <topPortlets/>
      <bottomPortlets/>
    </hudson.plugins.view.dashboard.Dashboard>
    <hudson.plugins.sectioned__view.SectionedView plugin="sectioned-view@1.18">
      <owner class="hudson" reference="../../.."/>
      <name>Tests</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <sections>
        <hudson.plugins.sectioned__view.ListViewSection>
          <jobNames>
            <comparator class="hudson.util.CaseInsensitiveComparator"/>
            <string>Full Regression Sequence</string>
          </jobNames>
          <jobFilters/>
          <name>Sequences</name>
          <width>FULL</width>
          <alignment>CENTER</alignment>
          <columns>
            <hudson.views.StatusColumn/>
            <hudson.views.WeatherColumn/>
            <hudson.views.JobColumn/>
            <info.noirbizarre.jenkins.plugins.DescriptionColumn plugin="description-column-plugin@1.3">
              <displayName>false</displayName>
              <trim>false</trim>
              <displayLength>1</displayLength>
            </info.noirbizarre.jenkins.plugins.DescriptionColumn>
            <hudson.views.LastSuccessColumn/>
            <hudson.views.LastFailureColumn/>
            <hudson.views.LastDurationColumn/>
            <hudson.views.BuildButtonColumn/>
          </columns>
        </hudson.plugins.sectioned__view.ListViewSection>
        <hudson.plugins.sectioned__view.ListViewSection>
          <jobNames>
            <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../hudson.plugins.sectioned__view.ListViewSection/jobNames/comparator"/>
            <string>Boot From EBS</string>
            <string>CloudWatch</string>
            <string>Create Resources</string>
            <string>Create Users</string>
            <string>EBS Suite</string>
            <string>Eutester4j Suite</string>
            <string>Instance Suite</string>
            <string>Migration</string>
            <string>Tagging+Filtering</string>
            <string>Walrus Bucket Tests</string>
            <string>Walrus Object Tests</string>
          </jobNames>
          <jobFilters/>
          <name>Individual Tests</name>
          <width>FULL</width>
          <alignment>CENTER</alignment>
          <columns>
            <hudson.views.StatusColumn/>
            <hudson.views.WeatherColumn/>
            <hudson.views.JobColumn/>
            <info.noirbizarre.jenkins.plugins.DescriptionColumn plugin="description-column-plugin@1.3">
              <displayName>false</displayName>
              <trim>false</trim>
              <displayLength>1</displayLength>
            </info.noirbizarre.jenkins.plugins.DescriptionColumn>
            <hudson.views.LastSuccessColumn/>
            <hudson.views.LastFailureColumn/>
            <hudson.views.LastDurationColumn/>
            <hudson.views.BuildButtonColumn/>
          </columns>
        </hudson.plugins.sectioned__view.ListViewSection>
      </sections>
    </hudson.plugins.sectioned__view.SectionedView>
    <hudson.plugins.sectioned__view.SectionedView plugin="sectioned-view@1.18">
      <owner class="hudson" reference="../../.."/>
      <name>Stress</name>
      <description>Enable the jobs below after setting up proper credentials in the eucarc parameter.&lt;br&gt;&#xd;
The will run once per minute and up to the number defined in the concurrent jobs config parameter</description>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <sections>
        <hudson.plugins.sectioned__view.ListViewSection>
          <jobNames>
            <comparator class="hudson.util.CaseInsensitiveComparator"/>
            <string>Stress BFEBS</string>
            <string>Stress Instance Store</string>
          </jobNames>
          <jobFilters/>
          <name>EC2 Stress</name>
          <width>FULL</width>
          <alignment>CENTER</alignment>
          <columns>
            <hudson.views.StatusColumn/>
            <hudson.views.WeatherColumn/>
            <hudson.views.JobColumn/>
            <info.noirbizarre.jenkins.plugins.DescriptionColumn plugin="description-column-plugin@1.3">
              <displayName>false</displayName>
              <trim>false</trim>
              <displayLength>1</displayLength>
            </info.noirbizarre.jenkins.plugins.DescriptionColumn>
            <hudson.views.LastSuccessColumn/>
            <hudson.views.LastFailureColumn/>
            <hudson.views.LastDurationColumn/>
            <hudson.views.BuildButtonColumn/>
          </columns>
        </hudson.plugins.sectioned__view.ListViewSection>
      </sections>
    </hudson.plugins.sectioned__view.SectionedView>
    <hudson.plugins.sectioned__view.SectionedView plugin="sectioned-view@1.18">
      <owner class="hudson" reference="../../.."/>
      <name>Apps</name>
      <description>&lt;h2&gt;What is it?&lt;/h2&gt;&#xd;
&lt;p&gt;These &quot;apps&quot; are one touch jobs that usually leverage vagrant and/or chef to launch fully configured VMs.&lt;/p&gt;&#xd;
&lt;h3&gt;ToDo&lt;/h3&gt;&#xd;
&lt;li&gt;Create a job to import cloud credentials&lt;/li&gt;&#xd;
&lt;li&gt;Add some apps such as: riak or cassandra&lt;/li&gt;</description>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <sections>
        <hudson.plugins.sectioned__view.ListViewSection>
          <jobNames>
            <comparator class="hudson.util.CaseInsensitiveComparator"/>
            <string>Riak Cluster</string>
            <string>Riak CS install and configure</string>
          </jobNames>
          <jobFilters/>
          <name>Riak Solutions</name>
          <width>FULL</width>
          <alignment>CENTER</alignment>
          <columns>
            <hudson.views.StatusColumn/>
            <hudson.views.WeatherColumn/>
            <hudson.views.JobColumn/>
            <hudson.views.LastSuccessColumn/>
            <hudson.views.LastFailureColumn/>
            <hudson.views.LastDurationColumn/>
            <hudson.views.BuildButtonColumn/>
          </columns>
        </hudson.plugins.sectioned__view.ListViewSection>
        <hudson.plugins.sectioned__view.ListViewSection>
          <jobNames>
            <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../hudson.plugins.sectioned__view.ListViewSection/jobNames/comparator"/>
          </jobNames>
          <jobFilters/>
          <name>Cassandra Solutions</name>
          <width>FULL</width>
          <alignment>CENTER</alignment>
          <columns>
            <hudson.views.StatusColumn/>
            <hudson.views.WeatherColumn/>
            <hudson.views.JobColumn/>
            <hudson.views.LastSuccessColumn/>
            <hudson.views.LastFailureColumn/>
            <hudson.views.LastDurationColumn/>
            <hudson.views.BuildButtonColumn/>
          </columns>
        </hudson.plugins.sectioned__view.ListViewSection>
      </sections>
    </hudson.plugins.sectioned__view.SectionedView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>UI-Koala</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
        <string>Koala-INSTANCE-OPERATIONS</string>
        <string>Koala-IP-OPERATIONS</string>
        <string>Koala-KEY-PAIR-OPERATIONS</string>
        <string>Koala-SECURITY-GROUP-OPERATIONS</string>
        <string>Koala-SNAPSHOT-OPERATIONS</string>
        <string>Koala-SUITE</string>
        <string>Koala-VOLUME-OPERATIONS</string>
        <string>UI-Clean-UP-Koala</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <recurse>false</recurse>
    </listView>
    <hudson.plugins.sectioned__view.SectionedView plugin="sectioned-view@1.18">
      <owner class="hudson" reference="../../.."/>
      <name>Provisioning</name>
      <description>&lt;html&gt;&#xd;
	&lt;head&gt;&#xd;
		&lt;title&gt;&lt;/title&gt;&#xd;
	&lt;/head&gt;&#xd;
	&lt;body&gt;&#xd;
		&lt;div&gt;&#xd;
			&lt;div style=&quot;font-family: Verdana, Helvetica, &apos;sans serif&apos;; font-size: 11px; background-color: rgb(255, 255, 255);&quot;&gt;&#xd;
				&lt;font size=&quot;5&quot;&gt;Documentation&lt;/font&gt;&lt;/div&gt;&#xd;
			&lt;ul&gt;&#xd;
				&lt;li style=&quot;font-family: Verdana, Helvetica, &apos;sans serif&apos;; font-size: 11px; background-color: rgb(255, 255, 255);&quot;&gt;&#xd;
					&lt;font color=&quot;blue&quot; size=&quot;5&quot;&gt;&lt;span style=&quot;font-size:16px;&quot;&gt;&lt;a href=&quot;https://eucalyptus.atlassian.net/wiki/pages/viewpage.action?pageId=56983597&quot; style=&quot;color: rgb(92, 53, 102);&quot;&gt;Deployment overview&lt;/a&gt;&lt;/span&gt;&lt;/font&gt;&lt;/li&gt;&#xd;
				&lt;li style=&quot;font-family: Verdana, Helvetica, &apos;sans serif&apos;; font-size: 11px; background-color: rgb(255, 255, 255);&quot;&gt;&#xd;
					&lt;font color=&quot;blue&quot; size=&quot;5&quot;&gt;&lt;span style=&quot;font-size:16px;&quot;&gt;&lt;/span&gt;&lt;/font&gt;&lt;a href=&quot;https://eucalyptus.atlassian.net/wiki/display/QA/Eucalyptus+Configuration&quot; style=&quot;font-size: 16px; color: rgb(92, 53, 102);&quot;&gt;Configuring your environment&lt;/a&gt;&lt;/li&gt;&#xd;
				&lt;li style=&quot;font-family: Verdana, Helvetica, &apos;sans serif&apos;; font-size: 11px; background-color: rgb(255, 255, 255);&quot;&gt;&#xd;
					&lt;a href=&quot;https://eucalyptus.atlassian.net/wiki/display/QA/QA+System+Documentation+Table+of+Contents&quot; style=&quot;font-size: 16px; color: rgb(92, 53, 102);&quot;&gt;Further documentation&lt;/a&gt;&lt;/li&gt;&#xd;
			&lt;/ul&gt;&#xd;
			&lt;div&gt;&#xd;
				&lt;div style=&quot;font-family: Verdana, Helvetica, &apos;sans serif&apos;; font-size: 11px; background-color: rgb(255, 255, 255);&quot;&gt;&#xd;
					&lt;font size=&quot;5&quot;&gt;Steps to deploy Eucalyptus&lt;/font&gt;&lt;/div&gt;&#xd;
				&lt;ol&gt;&#xd;
					&lt;li style=&quot;font-family: Verdana, Helvetica, &apos;sans serif&apos;; font-size: 11px; background-color: rgb(255, 255, 255);&quot;&gt;&#xd;
						&lt;span style=&quot;font-size:16px;&quot;&gt;Upload your SSH keys or set the default password for the nodes you wish to run Eucalyptus on&lt;/span&gt;&lt;/li&gt;&#xd;
					&lt;li style=&quot;font-family: Verdana, Helvetica, &apos;sans serif&apos;; font-size: 11px; background-color: rgb(255, 255, 255);&quot;&gt;&#xd;
						&lt;span style=&quot;font-size:16px;&quot;&gt;Run the Deploy job&lt;/span&gt;&lt;/li&gt;&#xd;
					&lt;li style=&quot;font-family: Verdana, Helvetica, &apos;sans serif&apos;; font-size: 11px; background-color: rgb(255, 255, 255);&quot;&gt;&#xd;
						&lt;span style=&quot;font-size:16px;&quot;&gt;Rinse and repeat with the rebuild job&lt;/span&gt;&lt;/li&gt;&#xd;
				&lt;/ol&gt;&#xd;
				&lt;div&gt;&#xd;
					&amp;nbsp;&lt;/div&gt;&#xd;
			&lt;/div&gt;&#xd;
		&lt;/div&gt;&#xd;
		&lt;p&gt;&#xd;
			&amp;nbsp;&lt;/p&gt;&#xd;
	&lt;/body&gt;&#xd;
&lt;/html&gt;&#xd;
</description>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <sections>
        <hudson.plugins.sectioned__view.ListViewSection>
          <jobNames>
            <comparator class="hudson.util.CaseInsensitiveComparator"/>
            <string>Set default password</string>
            <string>Upload Host Keypair</string>
          </jobNames>
          <jobFilters/>
          <name>Administrate</name>
          <width>FULL</width>
          <alignment>CENTER</alignment>
          <columns>
            <hudson.views.StatusColumn/>
            <hudson.views.JobColumn/>
            <hudson.views.LastSuccessColumn/>
            <hudson.views.LastFailureColumn/>
            <hudson.views.LastDurationColumn/>
            <hudson.views.BuildButtonColumn/>
            <jenkins.plugins.extracolumns.LastBuildConsoleColumn plugin="extra-columns@1.11"/>
          </columns>
        </hudson.plugins.sectioned__view.ListViewSection>
        <hudson.plugins.sectioned__view.ListViewSection>
          <jobNames>
            <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../hudson.plugins.sectioned__view.ListViewSection/jobNames/comparator"/>
            <string>Deploy</string>
          </jobNames>
          <jobFilters/>
          <name>Deploy</name>
          <width>FULL</width>
          <alignment>CENTER</alignment>
          <columns>
            <hudson.views.StatusColumn/>
            <hudson.views.JobColumn/>
            <hudson.views.LastSuccessColumn/>
            <hudson.views.LastFailureColumn/>
            <hudson.views.LastDurationColumn/>
            <hudson.views.BuildButtonColumn/>
            <jenkins.plugins.extracolumns.LastBuildConsoleColumn plugin="extra-columns@1.11"/>
          </columns>
        </hudson.plugins.sectioned__view.ListViewSection>
        <hudson.plugins.sectioned__view.ListViewSection>
          <jobNames>
            <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../hudson.plugins.sectioned__view.ListViewSection/jobNames/comparator"/>
            <string>Rebuild</string>
          </jobNames>
          <jobFilters/>
          <name>Rebuild</name>
          <width>FULL</width>
          <alignment>CENTER</alignment>
          <columns>
            <hudson.views.StatusColumn/>
            <hudson.views.JobColumn/>
            <hudson.views.LastSuccessColumn/>
            <hudson.views.LastFailureColumn/>
            <hudson.views.LastDurationColumn/>
            <hudson.views.BuildButtonColumn/>
            <jenkins.plugins.extracolumns.LastBuildConsoleColumn plugin="extra-columns@1.11"/>
          </columns>
        </hudson.plugins.sectioned__view.ListViewSection>
      </sections>
    </hudson.plugins.sectioned__view.SectionedView>
  </views>
  <primaryView>Tests</primaryView>
  <slaveAgentPort>0</slaveAgentPort>
  <label></label>
  <nodeProperties/>
  <globalNodeProperties/>
</hudson>