<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>&lt;em&gt;Build a new Eucalyptus Cloud from Packages.&lt;/em&gt;</description>
  <logRotator class="hudson.tasks.LogRotator">
    <daysToKeep>-1</daysToKeep>
    <numToKeep>100</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.ChoiceParameterDefinition>
          <name>method</name>
          <description></description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>packages</string>
              <string>source</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>cluster</name>
          <description>IP address of machine you would like to install the CC and SC.</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>frontend</name>
          <description>IP address of machine you would like to install the node controller on</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.PasswordParameterDefinition>
          <name>password</name>
          <description>Leave blank if you&apos;ve uploaded your ssh keys </description>
          <defaultValue>hs8BfSQU6z+Ydc1V4SUWGw==</defaultValue>
        </hudson.model.PasswordParameterDefinition>
        <hudson.model.TextParameterDefinition>
          <name>configuration</name>
          <description>Configuration of the Eucalyptus deployment.

Full list of attributes can be found here:
https://github.com/viglesiasce/eucalyptus-cookbook/blob/master/attributes/default.rb</description>
          <defaultValue>{
  &quot;eucalyptus&quot;: { 
                         &quot;nc&quot;: { &quot;max-cores&quot;: &quot;8&quot;  }
   }
}</defaultValue>
        </hudson.model.TextParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>environment</name>
          <description></description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>QA</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <hudson.plugins.throttleconcurrents.ThrottleJobProperty plugin="throttle-concurrents@1.7.2">
      <maxConcurrentPerNode>0</maxConcurrentPerNode>
      <maxConcurrentTotal>0</maxConcurrentTotal>
      <throttleEnabled>false</throttleEnabled>
      <throttleOption>project</throttleOption>
    </hudson.plugins.throttleconcurrents.ThrottleJobProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>true</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>cat &gt; config.json &lt;&lt;EOF
$configuration
EOF</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>#!/usr/bin/python
import json
import os
json_file = open(&quot;config.json&quot;)
config = json.loads(json_file.read())
json_file.close()
if &quot;install-type&quot; not in config[&quot;eucalyptus&quot;]:
    config[&quot;eucalyptus&quot;][&quot;install-type&quot;] = os.environ[&apos;method&apos;]
config[&quot;eucalyptus&quot;][&quot;topology&quot;] = {}
config[&quot;eucalyptus&quot;][&quot;topology&quot;][&quot;clusters&quot;] = {}
config[&quot;eucalyptus&quot;][&quot;topology&quot;][&quot;clusters&quot;][&quot;default&quot;] = {}
config[&quot;eucalyptus&quot;][&quot;topology&quot;][&quot;clusters&quot;][&quot;default&quot;][&quot;cc-1&quot;] = os.environ[&apos;cluster&apos;]
config[&quot;eucalyptus&quot;][&quot;topology&quot;][&quot;clusters&quot;][&quot;default&quot;][&quot;nodes&quot;] = os.environ[&apos;frontend&apos;]
json_file = open(&quot;config.json&quot;, &apos;w&apos;)
json_file.write(json.dumps(config))
</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>if [ $password ];then
    knife bootstrap $frontend -E $environment --no-host-key-verify -r &quot;role[node]&quot; -j &quot;`cat config.json`&quot; -P $password
    knife bootstrap $cluster -E $environment --no-host-key-verify -r &quot;recipe[eucalyptus::register-nodes]&quot; -j &quot;`cat config.json`&quot; -P $password
else
    knife bootstrap $frontend -E $environment --no-host-key-verify -r &quot;role[node]&quot; -j &quot;`cat config.json`&quot;
    knife bootstrap $cluster -E $environment --no-host-key-verify -r &quot;recipe[eucalyptus::register-nodes]&quot; -j &quot;`cat config.json`&quot;
fi</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.plugins.ws__cleanup.WsCleanup plugin="ws-cleanup@0.16">
      <deleteDirs>false</deleteDirs>
      <skipWhenFailed>false</skipWhenFailed>
      <cleanWhenSuccess>true</cleanWhenSuccess>
      <cleanWhenUnstable>true</cleanWhenUnstable>
      <cleanWhenFailure>true</cleanWhenFailure>
      <cleanWhenNotBuilt>true</cleanWhenNotBuilt>
      <cleanWhenAborted>true</cleanWhenAborted>
      <notFailBuild>false</notFailBuild>
      <cleanupMatrixParent>false</cleanupMatrixParent>
    </hudson.plugins.ws__cleanup.WsCleanup>
  </publishers>
  <buildWrappers/>
</project>